/*    Final Project


      In the final project I will showcase my skills based on what
      I have learned during the semester. There are interactive
      elements, navigations, and a host of information about
      my projects during the semester as well as information
      on me.

      Filename:       index3.css
 */


* {
    box-sizing: border-box;
}


/* Body Style */

body{
    color:  #333;
    background-image: url('pkpap.jpeg');
    background-color: rgba(248, 171, 236, 0.72);
    margin:0;
}

/* drop down div items*/
.project{
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
}

/* project div items*/
.project-item{
    background-color: rgb(235, 221, 236);
    color: #082008;
    margin: 1rem 0;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px 0 #8f0fc7;
}

/* project header div items*/
.project-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    font-size: 20px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
/* project header create + sign*/
.project-item-header:after{
    content: '\002B';
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
/* project header + sign*/
.project-item-header.active:after{
    content: '\2212';
}

/* project hides the body of the items*/
.project-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* project item body content modified*/
.project-item-body-content{
    padding: 1rem;
    line-height: 1.25rem;
    font-family: arial, helvetica, sans-serif;
    border-top: 1px solid;
    font-size: 14px;
    border-image: linear-gradient(to right, transparent, rgb(235,93,52), transparent)1;
}

/* Header styles */
.header{
    background: linear-gradient(180deg, rgb(235, 206, 218) 2%, white);
    padding: 10px;
    text-align: center;
    color: #333;
}
header h1 {
    font-family: Bookman, URW Bookman L, serif;
    font-size: 55px;
    letter-spacing: 4px;
}

header h2 {
    font-family: Bookman, URW Bookman L, serif;
    letter-spacing: 4px;
}

/* header image style */
.header img {
    width: 15%;
    transform: rotate(2deg) scale(1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .9));
    border-radius: 10px;
    border: 5px solid aliceblue;

}
/* article style */
a, p {
    text-align: left;
    font-size: 16px;
    line-height: 1.2;
}
/* break style */

br {
    line-height: 0.5;
}

/* Column layout and Style*/

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

div.column1 {
    float: left;
    width: 25%;
    margin-left: 2%;
}

div.column2 {
    float: left;
    width: 42.5%;
    margin-left: 7%;
    padding-bottom: 10px;
}

div.column3 {
    float: left;
    width: 42.5%;
}

h3{
    font-size: 40px;
    text-align: center;
    background: white;
}

div.column1 h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

div.column2 {
    font-size: 17.5px;
    font-family: Bookman, URW Bookman L, serif;
}

/* Image Style */
.slideshow-container{
    position: absolute;
    top: 50rem;
    left:12%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 30px 50px #BBBBBB;

}

.item {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.item.active{
    opacity: 1;
    display: block;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* next button on image*/
#nextBtn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: mistyrose;
    color: black;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

/* table style */
table{
    width: 100%;
    border-collapse: collapse;
}

td{
    padding: 5px;
}
/* Section adjustment for column1*/
.calculator-section h2{
    margin-top: 450px;
    font-size: 35px;
    font-weight: bold;
}

/* Section adjustment for calculator*/

.calculator-section{
    margin-top: 400px;
}


label{
    display: block;
    margin-bottom: .5rem;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-left: 15%;
}

/* input styles */
input{
    position: relative;
    font-size: 1.5em;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    border: 1.5px solid black;
    color: darkslateblue;
    outline: none;
}

input:focus{
    border-color: black;
}

/* Footer layout and Style */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Game and Blog Column styles */
.column3 h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.column3 p, a{
    font-size: 25px;
    text-align: center;
}




